:host {
	display: flex;
	height: 100%;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

.myClass {
	-webkit-box-shadow: 0px 3px 25px 7px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 3px 25px 7px rgba(0,0,0,0.33);
	box-shadow: 0px 3px 25px 7px rgba(0,0,0,0.33);
	background-color: #d1d1d1;
}

